body {
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    display: flex;
    background-color: black;
    align-items: center;
    height: 65px;
    list-style-type: none;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 45px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.container {
    min-height: 75vh;
    padding: 10px 10px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.bottom {
    position: sticky;
    bottom: 0;
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons { margin-top: 14px;}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    min-width: 85vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 24px;
}

.songItem{
    height: 50px;
    display: flex;
    width: 40%;
    background-color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 30px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 20px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}